html {
  background: #1B1C1E;
}

body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  min-width: 960px;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #222;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #222;
}

a:link, a:visited {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#main {
  height: 400px;
  text-align: center;
}

#main, div.header, li.repo {
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#main h1 {
  margin: 10px 15px 0;
}

#main h3 {
  margin: 10px 0;
}

#main p {
  margin: 0 10px 15px 10px;
  font-size: 11px;
}

#logo {
  width: 189px;
  height: 154px;
  margin: 15px 0 0 15px;
  background: url(http://eldarion.com/site_media/static/images/eldarion_logo_medium.png) #1B1C1E;
  text-indent: -99999px;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 130px;
}

div.header h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1 {
  margin-bottom: 10px;
}

#num-repos, #num-members {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  line-height: 15px;
}

#statistics a:link, #statistics a:visited {
  color: inherit;
}

#statistics p.email {
  margin-top: 6px;
  font-size: 11px;
}

#recently-updated h1 a {
  font-weight: normal;
  font-size: 11px;
}

#recently-updated-repos {
  margin-left: 15px;
}

#recently-updated-repos li {
  line-height: 1.5;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0 1px;
}

#recently-updated-repos li span {
  font-size: 11px;
}

#recently-updated-repos li span.name {
  padding: 0 6px 0 0;
  font-size: 13px;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  color: #666;
}

li.repo {
  height: 240px;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #eee;
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;
}

li.repo h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #666;
}

.repo {
  border-top: 10px solid #0080B0;
}
.repo.javascript {
  border-top: 10px solid #333;
}
.repo.python {
  border-top: 10px solid #6AAD2D;
}
